body {
    background-color: #fff3e0;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #e65100;
}

input, button {
    padding: 8px;
    margin: 10px;
}

button {
    background-color: #ef6c00;
    color: white;
    border: none;
    border-radius: 5px;
}
