body {
    background-color: #ede7f6;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #311b92;
}

input, button {
    padding: 8px;
    margin: 10px;
}

button {
    background-color: #512da8;
    color: white;
    border-radius: 5px;
    border: none;
}
