body {
    background-color: #e0f2f1;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #004d40;
}

input, button {
    padding: 8px;
    margin: 10px;
}

button {
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
}
